<!-- Affiliates well -->
<div class="panel panel-default">
	<div class="panel-heading">Affiliates</div>
	<div class="panel-body text-centered">
		<div class="row">
			<div class="col-xs-4"><a href="http://usafootball.com/headsup"><img src="/assets/icon_heads_up.png" class="img-responsive img-scaled affiliate-icon"></img></a></div>
			<div class="col-xs-4"><a href="http://www.qualitycoachingeducation.org/"><img src="/assets/icon_ncace.jpg" class="img-responsive affiliate-icon"></img></a></div>
		</div>
		<div class="row">
			<div class="col-xs-4"><a href="http://www.nfl.com/community"><img src="/assets/nfl_partners.png" class="img-responsive affiliate-icon"></img></a></div>
			<div class="col-xs-4"><a href="http://missionfootball.com/"><img src="/assets/mv-diablos-icons.png" class="img-responsive affiliate-icon"></img></a></div>
		</div>
	</div>
</div> <!-- /.panel -->

