<li id="main-dropdown" class="dropdown">
  <a id="dropmenu-{{include.tag}}" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    {{include.title}}
    <span class="caret" />
  </a>
  <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropmenu-{{include.tag}}">
    <li role="presentation">
         {% assign content_items = site.content | sort:"weight"  %}
          {% for content in content_items %}
            {% if content.tags contains include.tag %}
              <a role="menuitem" tabindex="-1" href="{{content.url}}">{{content.title}}</a>
            {% endif %}
         {% endfor %}
    </li>
  </ul>
</li>
