<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a class="home-link" href="http://localhost:4000/">
          <img class="scaled-img" src="/assets/tl-mvcowboys-logo-small.png" />
        </a>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        {% include dropdown.html title='About' tag='about' %}
        {% include dropdown.html title='Coaches' tag='coaches' %}
        {% include dropdown.html title='Parents' tag='resources' %}
        {% include dropdown.html title='Events' tag='events' %}
        {% include dropdown.html title='Media' tag='media' %}
      </ul>
    </div>
  </div>
</nav>
<hr />
