<!-- Upcoming events well -->
<div class="panel panel-default">
  <div class="panel-heading text-capitalize">Upcoming Events</div>
  <div class="panel-body">
      {% for event in site.data.upcoming_events %}
      <div class="row">
				<div class="col-xs-6">
					<strong>{{event.name}}</strong>
				</div>
				<div class="col-xs-6">
        	<span class="glyphicon glyphicon-time"></span> 
					{{event.date}} {{event.datetime}}
				</div>
			</div>
      <div class="row">
				<div class="col-xs-11 col-xs-offset-1">
        	<span class="glyphicon glyphicon-map-marker"></span> 
					<span>{{event.location}}</span>
				</div>
      </div>
      {% endfor %}
  </div>
</div> <!-- /well -->

