//custom css goes here

/*

Contents
================================

1. Imports
2. Navigation
3. Pages
4. Shared Styles

================================

*/

// 1. Imports
// --------------------------------------------------


// 2. Navigation
// --------------------------------------------------
.btn-flatcb {
    background-color: hsl(217, 24%, 38%) !important;
    background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#495b78", endColorstr="#495b78");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#495b78), to(#495b78));
    background-image: -moz-linear-gradient(top, #495b78, #495b78);
    background-image: -ms-linear-gradient(top, #495b78, #495b78);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #495b78), color-stop(100%, #495b78));
    background-image: -webkit-linear-gradient(top, #495b78, #495b78);
    background-image: -o-linear-gradient(top, #495b78, #495b78);
    background-image: linear-gradient(#495b78, #495b78);
    border-color: #495b78 #495b78 hsl(217, 24%, 38%);
color: #fff !important;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
   -webkit-font-smoothing: antialiased;
}


// 3. Pages
// --------------------------------------------------
.content.td {
    padding: 30px;
}

// 4. Shared Styles
// --------------------------------------------------

.scaled-img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-bg-football {
    background-image: url('/assets/football-and-field.jpg');
    width: 360px;
    height: 225px;
}

.container { 
}

// navbar padding
body { padding-top: 70px; }
