{% include head.html %}

<!-- Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="/assets/header-med-2.jpg" />

			<hr>

      <!-- Sponsor Carousel -->
      <div id="sponsor-carousel" class="owl-carousel">
        {% for sponsor in site.data.sponsors %}
        <div class="sponsor-carousel">
           <div><a href="{{sponsor.url}}"><img class="scaled-img img-responsive" src="{{sponsor.image_small}}"></a></div>
        </div>
        {% endfor %}
      </div>

			<hr>

      <!-- Content carousel -->
      <div class="panel panel-default">
				<div class="panel-heading"><h3>Important and Upcoming</h3></div>
				<div id="content-carousel" class="panel panel-body owl-carousel">
        	{% for item in site.carousel %}
          	{{item.content}}
        	{% endfor %}
				</div>
      </div>

    </div> <!-- ./col-md-8 -->

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
      {% include upcoming_events_well.html %}
      {% include posts_well.html %}
      {% include locations_well.html %}
      {% include affiliates_well.html %}
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->

{% include footer.html %}
